Architecture: armhf
Depends: libc6 (>= 2.29), libcurl4 (>= 7.16.2), libgcc-s1 (>= 3.5), libstdc++6 (>= 9)
Description: CWOP Weather packet aggregator.
Maintainer: Richard Buckley
Package: aprs_wx
Priority: optional
Section: hamradio
Version: 0.3.2
Installed-Size: 208

